# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=8dd521a9-b79e-4970-a6ef-ce7f290f1c87

    # Set to true to disable all reporting
    B:opt-out=false
}


